<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calendário de Vacinação</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
    <header class="header">
        <span class="headerTitle">
            Calendário Nacional de Vacinação
        </span>
        <span><a class="button" href="homepage.html">HOME</a>
        </span>
    </header>
    </div>
</div>
<div class="div_button">
    <a class="button" href="disponiveis.html" aria-label="Ir para a página de Vacinas Disponíveis">Vacinas Disponíveis</a>
    <a class="button" href="calendario.html" aria-label="Ir para a página de Calendário de Vacinação">Calendário de Vacinação</a>
    <a class="button" href="locais.html" aria-label="Ir para a página de Pontos de Vacinação">Pontos de Vacinação</a>
    <a class="button" href="quem_pode.html" aria-label="Ir para a página de Quem pode se Vacinar">Quem pode se Vacinar</a>
</div>
    <div class="div_button">
        
        <h3>
            <p>O Calendário Nacional de Vacinação do Sistema Único de Saúde (SUS) é uma iniciativa abrangente que se destina a garantir a saúde coletiva por meio de uma imunização eficaz, sendo especialmente projetado para atender às necessidades de diversos grupos da população, abrangendo cuidadosamente crianças, adolescentes, adultos, gestantes e idosos.</p></h3>
        <a href="https://www.gov.br/saude/pt-br/vacinacao/calendario" target="_blank"><img class="button" src="img/crianca.png" alt="criança"></a>
        <a href="https://www.gov.br/saude/pt-br/vacinacao/calendario?id=2" target="_blank"><img class="button" src="img/adolecente.png" alt="Adolescente"></a>
        <a href="https://www.gov.br/saude/pt-br/vacinacao/calendario?id=3" target="_blank"><img class="button" src="img/idoso.png" alt="Idoso"></a>
        <a href="https://www.gov.br/saude/pt-br/vacinacao/calendario?id=4" target="_blank"><img class="button" src="img/adulto.png" alt="Gestante"></a>
       
    </div>

    <div class="div_button">
        <a class="button" href="https://www.gov.br/saude/pt-br/vacinacao/calendario" target="_blank">Crianças</a>
        <a class="button" href="https://www.gov.br/saude/pt-br/vacinacao/calendario?id=2" target="_blank">Adolecentes</a>
        <a class="button" href="https://www.gov.br/saude/pt-br/vacinacao/calendario?id=3" target="_blank">Adulto / Idosos</a>
        <a class="button" href="https://www.gov.br/saude/pt-br/vacinacao/calendario?id=4" target="_blank">Gestante</a>
    </div>

    <div class="img2">
        <a href="https://www.gov.br/saude/pt-br/vacinacao/publicacoes/instrucao-normativa-calendario-nacional-de-vacinacao-2024.pdf" target="_blank"><img src="img/2.png" alt="calendário"></a>
          
    </div>

    <div class="tec">
        <span>
            <a class="button" href="https://www.gov.br/saude/pt-br/vacinacao/calendario-tecnico" target="_blank">Acesse o Calendário Técnico Nacional de Vacinação</a>
        </span>
    </div>
    
</body>
</html>