<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendário de Vacinação</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
    <header class="header">
        <span class="headerTitle">
            Calendário de Vacinação
        </span>
        <span><a class="button1" href="homepage.html">Voltar</a>
        </span>
    </header>
    </div>
    <div class=>
        <table class="table">
            <tr>
                <th>Mês</th>
                <th>Vacinas</th>
            </tr>
            <tr>
                <td>Janeiro</td>
                <td>BCG, Hepatite B, DTP</td>
            </tr>
            <tr>
                <td>Fevereiro</td>
                <td>DTP, Meningocócica C</td>
            </tr>
            <tr>
                <td>Março</td>
                <td>Tríplice viral, HPV</td>
            </tr>
            <tr>
                <td>Abril</td>
                <td>DTP, Meningocócica C</td>
            </tr>
            <tr>
                <td>Maio</td>
                <td>Tríplice viral, HPV</td>
            </tr>
            <tr>
                <td>Junho</td>
                <td>DTP, Meningocócica C</td>
            </tr>
            <tr>
                <td>Julho</td>
                <td>Tríplice viral, HPV</td>
            </tr>
            <tr>
                <td>Agosto</td>
                <td>DTP, Meningocócica C</td>
            </tr>
            <tr>
                <td>Setembro</td>
                <td>Tríplice viral, HPV</td>
            </tr>
            <tr>
                <td>Outubro</td>
                <td>DTP, Meningocócica C</td>
            </tr>
             <tr>
                <td>Novembro</td>
                <td>Tríplice viral, HPV</td>
            </tr>
            <tr>
                <td>Dezembro</td>
                <td>DTP, Meningocócica C</td>
            </tr>
        </table>
    </div>
    <!-- <div>
        <footer class="footer">
            Todos os direitos reservados
        </footer>
    </div> -->
</body>
</html>