<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vacinas Disponiveis</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
    <header class="header">
        <span class="headerTitle">
            Vacinas Disponiveis
        </span>
        <span><a class="button" href="homepage.html">Voltar</a>
        </span>
    </header>
    </div>
</div>
<div class="div_button">
    <a class="button" href="disponiveis.html" aria-label="Ir para a página de Vacinas Disponíveis">Vacinas Disponíveis</a>
    <a class="button" href="calendario.html" aria-label="Ir para a página de Calendário de Vacinação">Calendário de Vacinação</a>
    <a class="button" href="locais.html" aria-label="Ir para a página de Pontos de Vacinação">Pontos de Vacinação</a>
    <a class="button" href="quem_pode.html" aria-label="Ir para a página de Quem pode se Vacinar">Quem pode se Vacinar</a>
</div>
    <div class="div1">
        <p class="button1">BCG - Previne a tuberculose</p>
        <p class="button1">Hepatite B - Previne a hepatite B</p>
        <p class="button1">DTP - Previne a difteria, tétano e coqueluche</p>
        <p class="button1">Meningocócica C - Previne a meningite C</p>
        <p class="button1">Tríplice viral - Previne o sarampo, caxumba e rubéola</p>
        <p class="button1">HPV - Previne o câncer de colo do útero</p>
    </div>
    <!-- <div>
        <footer class="footer">
            Todos os direitos reservados
        </footer>
    </div> -->
</body>
</html>