<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vacinas Disponiveis</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
    <header class="header">
        <span class="headerTitle">
            Vacinas Disponíveis
        </span>
        <span><a class="button" href="homepage.html">HOME</a>
        </span>
    </header>
    </div>
</div>
<div class="div_button">
    <a class="button" href="disponiveis.html" aria-label="Ir para a página de Vacinas Disponíveis">Vacinas Disponíveis</a>
    <a class="button" href="calendario.html" aria-label="Ir para a página de Calendário de Vacinação">Calendário de Vacinação</a>
    <a class="button" href="locais.html" aria-label="Ir para a página de Pontos de Vacinação">Pontos de Vacinação</a>
    <a class="button" href="quem_pode.html" aria-label="Ir para a página de Quem pode se Vacinar">Quem pode se Vacinar</a>
</div>

<h1>Vacine - se</h1>



<article>
    <p class="text">
        <strong>Você pode se vacinar gratuitamente nas salas de vacinação nas Unidades Básicas de Saúde - UBS em todo o País.</strong> Basta ir a uma unidade de saúde com cartão de vacinação. As unidades de saúde estão prontas para oferecer as vacinas necessárias em todas as fases da vida, desde a infância até a idade adulta e a terceira idade.
    </p>
    <p class="text2">
        <strong>Perdeu o cartão?</strong> Vá à UBS onde recebeu as vacinas e faça a segunda via do seu cartão, ou solicite em uma outra unidade um novo cartão. O cartão de vacinação é o documento que comprova a sua situação vacinal. Lembre-se de guarda-lo junto aos seus documentos pessoais. 
    </p>

    <p class="text4">
        A ausência do Cartão de Vacinação não impede que você seja vacinado.
    </p>
</article>

<h2>Clique na imagem do ZÉ GOTINHA abaixo e verifique no site do Ministério da Saúde as Vacinas Disponíveis.</h2>

<span class="img3"> 
    <a href="https://www.gov.br/saude/pt-br/vacinacao" target="_blank"><img src="https://www.gov.br/saude/pt-br/vacinacao/vacinacao/@@govbr.institucional.banner/b524fbc5-07d8-445a-a44a-76f439ddebb2/@@images/ab9027ce-3707-498a-bb89-3a4eb806f5ca.gif" alt="Zé gotinha" ></a>
</span>


   
</body>
</html>