<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Locais de Vacinação</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <header class="header">
            <span class="headerTitle">
                Pontos de Vacinação
                
            </span>
            <span><a class="button" href="homepage.html">Voltar</a>
            </span>
        </header>
    </div>
</div>
<div class="div_button">
    <a class="button" href="disponiveis.html" aria-label="Ir para a página de Vacinas Disponíveis">Vacinas Disponíveis</a>
    <a class="button" href="calendario.html" aria-label="Ir para a página de Calendário de Vacinação">Calendário de Vacinação</a>
    <a class="button" href="locais.html" aria-label="Ir para a página de Pontos de Vacinação">Pontos de Vacinação</a>
    <a class="button" href="quem_pode.html" aria-label="Ir para a página de Quem pode se Vacinar">Quem pode se Vacinar</a>
</div>
   
        
    
</body>
</html>