<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locais de Vacinação</title>
    <link rel="stylesheet" href="{{url_for('static', filename='static/style.css')}}">
</head>
<body>
    <div>
        <header class="header">
            <span class="headerTitle">
                Vacinas
            </span>
            <span><a class="button" href="homepage.html">Voltar</a>
            </span>
        </header>
    </div>
    <p>
        <p>Locais de vacinação:</p>
        UBS Vila Assis *
        UBS Parque São Vicente *
        UBS Jardim Primavera *
        UBS Jardim Guapituba *
        UBS Vila Magini *
        UBS Jardim Sonia Maria *
        UBS Jardim Paranavaí *
        UBS Jardim Oratório *
        UBS Jardim Zaíra 1 *
        UBS Zaíra 2
        UBS Zaíra 3
        UBS Macuco *
        UBS Flórida *
        UBS Vila São João *
        UBS Feital *
        UBS Jardim Santista *
        UBS Jardim Itapark
        UBS Parque das Américas
        UBS Jardim Santa Lídia
        UBS Jardim Kennedy
        UBS Jardim Mauá
        UBS Capuava
        UBS Vila Carlina 
         
        <p>* Unidades onde há opção do sistema drive-thru de vacinação;</p> </p>
    <div>
        <footer class="footer">
            Todos os direitos reservados
        </footer>
    </div>
</body>
</html>
