<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quem Pode se Vacinar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div>
    <header class="header">
        <span class="headerTitle">
            Vacinas
        </span>
    </header>
    </div>
    <div class="quem_pode">
        <p>teste</p>
    </div>
    <div>
        <footer class="footer">
            Todos os direitos reservados
        </footer>
    </div>
</body>
</html>