<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quem Pode se Vacinar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
    <header class="header">
        <span class="headerTitle">
            Vacinas
        </span>
        <span><a class="button" href="homepage.html">Voltar</a>
        </span>
    </header>
    </div>
</div>
<div class="div_button">
    <a class="button" href="disponiveis.html" aria-label="Ir para a página de Vacinas Disponíveis">Vacinas Disponíveis</a>
    <a class="button" href="calendario.html" aria-label="Ir para a página de Calendário de Vacinação">Calendário de Vacinação</a>
    <a class="button" href="locais.html" aria-label="Ir para a página de Pontos de Vacinação">Pontos de Vacinação</a>
    <a class="button" href="quem_pode.html" aria-label="Ir para a página de Quem pode se Vacinar">Quem pode se Vacinar</a>
</div>
    <div class="quem_pode">
        <p>

        </p> 
        <p class="button1"> Quem tem direito a vacina contra a gripe?</p>
<p>Crianças de 6 meses a menores de 6 anos de idade (5 anos, 11 meses e 29 dias);</p> 
Trabalhadores da Saúde; Idosos com 60 anos ou mais de idade;<p> Gestantes e puérperas (mulheres no período até 45 dias após o parto)
        </p>
    </div>
    <!-- <div>
        <footer class="footer">
            Todos os direitos reservados
        </footer>
    </div> -->
</body>
</html>