/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header .headerTitle {
    font-size: 2.5em;
    font-weight: 700;
}

/* Botões */
.div_button {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 0.5em;
    background-color: #007bff;
    color: #fff;
    font-weight: 600;
    margin: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #b31500;
}

.button1 {
    display: inline-block;
    padding: 15px 30px;
    text-decoration:none;
    border-radius: 0.5em;
    background-color: #007bff;
    color: #fff;
    font-weight: 600;
    margin: 10px;
    transition: background-color 0.3s;
      
    
     
}
.text {
    float: left;
  font: 160% sans-serif;
  width: 30%;
  margin:2%;
  padding:10px 20px;
  border: 1px solid #ccc; 
  background-color: #97c7fa;
}

.text2 {
    float: right;
  font: 160% sans-serif;
  width: 30%;
  margin:2%;
  padding:10px 20px;
  border: 1px solid #ccc;
  background-color: #97c7fa;
}

.text3 {
    float: left;
  font: 160% sans-serif;
  width: 50%;
  margin:2%;
  padding:10px 20px;
  border: 1px solid #ccc;
  background-color: #97c7fa;
}

.text:hover {
    background-color: cadetblue;
    width: 40%;
    
}

.text2:hover {
    background-color: cadetblue;
    width: 40%;
    
}

.text3:hover {
    background-color: cadetblue;
    width: 40%;
    
}

.button1:hover {
    background-color: #0056b3;
}



.img1 {
    max-width: max-content;
    display: block;
    margin: auto;
}

.img2 {
    max-width: max-content;
    display: block;
    margin: auto;
    padding: 30px;
}

.img2:hover {
    border-radius: 10px;
    border-color: #b31500;
    background-color: #b31500;

}

.tec {
    max-width: max-content;
    display: block;
    margin: auto;
    padding: 30px;
}



/* Elementos com classe "div1" */
.div1 {
    margin-top: 10%;
    text-align: center;
    color: #007bff
}


/* Elementos com classe "quem_pode" */
.quem_pode {
    margin-top: 5%;
    text-align: center;
    color: #007bff;
}


