<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacinas Disponiveis</title>
    <link rel="stylesheet" href="{{url_for('static', filename='static/style.css')}}">
</head>
<body>
    <div>
    <header class="header">
        <span class="headerTitle">
            Vacinas
        </span>
        <span><a class="button" href="homepage.html">Voltar</a>
        </span>
    </header>
    </div>
    <div class="div1">
        <p>BCG - Previne a tuberculose</p>
        <p>Hepatite B - Previne a hepatite B</p>
        <p>DTP - Previne a difteria, tétano e coqueluche</p>
        <p>Meningocócica C - Previne a meningite C</p>
        <p>Tríplice viral - Previne o sarampo, caxumba e rubéola</p>
        <p>HPV - Previne o câncer de colo do útero</p>
    </div>
    <div>
        <footer class="footer">
            Todos os direitos reservados
        </footer>
    </div>
</body>
</html>
